name: Shot Dashboard

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  URL1: 'https://files.mcimirror.top/dashboard'
  OUTPUT1: 'output.png'

jobs:
  run:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Set-up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm ci

    - name: Install Chinese font support
      run: |
        sudo apt-get update
        sudo apt-get install -y fonts-noto-cjk
        sudo fc-cache -f -v
    
    - name: Run node
      run: node src/index.js --u=$URL1 --o=$OUTPUT1

    - name: Commit files
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add .
        git commit -a -m "u"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: ${{ github.ref }}
    # - name: push output
    #   uses: crazy-max/ghaction-github-pages@v3.1.0
    #   with:
    #     target_branch: output
    #     build_dir: .
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}